# Analyzing Data using Pandas

***Weekly Practice***

In [1]:
#-- import pandas and necessary packages --- #

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#--- load the iris dataset from csv and assign headers(columns) -- #

df = pd.read_csv("iris.data",names=(["Sepal_length", "Sepal_width", "Petal_length", "Petal_width", "Class"  ]),header=None)

In [3]:
# -- Check the first 5 rows ---#
df.head(5)

   Sepal_length  Sepal_width  Petal_length  Petal_width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
#--- Check number of rows,columns using shape method ---#
df.shape

(150, 5)

**Practice**

In [5]:
# Dataframe returns rows where petal lenght is greater than 6
df.query('Petal_length > 6')

     Sepal_length  Sepal_width  Petal_length  Petal_width           Class
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [6]:
# Dataframe returns rows where petal lenght is greater than 6 and Petal width > 2
df.query('Petal_length > 6 & Petal_width > 2')

     Sepal_length  Sepal_width  Petal_length  Petal_width           Class
105           7.6          3.0           6.6          2.1  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [7]:
# Dataframe returns rows where petal lenght is greater than 6 OR Petal Length > 1.5
df.query('Petal_length > 6 | Petal_length < 1.5')

     Sepal_length  Sepal_width  Petal_length  Petal_width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
33            5.5          4.2           1.4          0.2     Iris-setosa
35            5.0          3.2           1.2          0.2     Iris-setosa
36            5.5          3.5           1.3          0.2     Iris-setosa
38            4.4          3.0           1.3          0.2     Iris-setosa
40            5.0          3.5           1.3          0.3     Iris-setosa
41            4.5          2.3           1.3          0.3     Iris-setosa
42            4.4          3.2           1.3          0.2     Iris-setosa
45            4.8          3.0           1.4          0.3     Iris-setosa
47            4.6          3.2           1.4          0.2     Iris-setosa
49            5.0          3.3           1.4          0.2     Iris-setosa
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [8]:
# Check if there are Null values in dataset.
df.isnull().sum()

Sepal_length    0
Sepal_width     0
Petal_length    0
Petal_width     0
Class           0
dtype: int64

In [9]:
# load the digits dataset
optra = pd.read_csv("optdigits.tra")

In [10]:
# Check Digits dataset shape
optra.shape

(3822, 65)

In [11]:
# Check Basic Statistics
optra.describe()

,0,1,6,15,12,1.1,0.1,0.2,0.3,7,...,0.21,0.22,0.23,6.3,14.1,7.4,1.3,0.24,0.25,0.26
count,3822.0,3822.000000,3822.000000,3822.000000,3822.000000,3822.000000,3822.000000,3822.000000,3822.000000,3822.000000,...,3822.000000,3822.000000,3822.000000,3822.000000,3822.000000,3822.000000,3822.000000,3822.000000,3822.00000,3822.000000
mean,0.0,0.301151,5.481685,11.805076,11.451334,5.506541,1.387755,0.142334,0.002093,1.959184,...,0.148352,0.000262,0.283098,5.855835,11.942439,11.462323,6.701988,2.106227,0.20225,4.498430
std,0.0,0.867026,4.632199,4.260055,4.538141,5.613322,3.371810,1.051733,0.088583,3.051663,...,0.767858,0.016175,0.928156,4.980663,4.334947,4.992066,5.775834,4.028649,1.15084,2.869284
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,0.0,0.000000,1.000000,10.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,10.000000,9.000000,0.000000,0.000000,0.00000,2.000000
50%,0.0,0.000000,5.000000,13.000000,13.000000,4.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,5.000000,13.000000,13.000000,6.000000,0.000000,0.00000,4.000000
75%,0.0,0.000000,9.000000,15.000000,15.000000,10.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,10.000000,15.000000,16.000000,12.000000,2.000000,0.00000,7.000000
max,0.0,8.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,5.000000,15.000000,...,12.000000,1.000000,10.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.00000,9.000000